@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        <a asp-area="" asp-controller="Calculator" asp-action="Index">CalculatorApp</a>
    </p>
</div>
